.menuContainer--flexCol {
  display: flex;
  flex-flow: column nowrap;
}

.styledLinkContainer--flexCol {
  margin: 0;
  padding: 0;
}

.styledLink--flexCol {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  font-family: Roboto;
  font-weight: 500;
}

.menuContainer--menuDrawer {
  flex-flow: column nowrap;
}

.styledLinkContainer--departItem {
  margin: 0;
  padding: 0;
}

.styledLinkContent--departItem {
  font-size: 16px;
  line-height: 44px;
  font-family: Roboto;
  color: #717786;
}

.menuContainerNav--menuDrawer {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #dee7ef;
}

.styledLinkContainer--currencyFakeDropdown {
  padding: 0px 48px 0px 16px;
  margin: 0;
  margin-right: 16px;
  height: 42px;
  line-height: 42px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  position: relative;
}

.menuContainerNav--currencyFakeDropdown {
  display: flex;
  align-items: center;
}

.styledLinkContent--currencyFakeDropdown {
  font-size: 14px;
  line-height: 42px;
  font-family: Roboto;
  color: #fff;
}

.styledLinkContainer--currencyFakeDropdown::after {
  content: url("assets/icons/chevronDownSwitcher.svg");
  position: absolute;
  right: 16px;
  top: 0;
}

@media (max-width: 64rem) {
  .styledLinkContainer--currencyFakeDropdown {
    border: none;
  }
}

/* //Custom header */

.menuContainer--headerNavigation {
  background-color: white;
  padding: 0 32px;
  height: 65px;
  box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
}
.styledLinkContent--navigationItem {
  padding: 0.5rem 0.875rem;
  border-radius: 0.375rem;
  transition: opacity 0.3s ease-in-out;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  color: #6f6b7d;
  font-family: play, sans-serif;
}
.styledLinkContent--navigationItem:hover {
  background: #f8f8f8;
}

.submenuContainer--navigationSubItem {
  animation: menuDropdownShow 0.3s ease-in-out;
}
.submenuWrapper--navigationSubItem {
  box-shadow: 0 0.625rem 1.25rem rgba(165, 163, 174, 0.4);
  margin: 0;
  padding: 0;
  border-radius: 0.375rem !important;
}

.submenu--navigationSubItem {
  width: 15.625rem;
  padding: 0.375rem 0;
  /* box-shadow: 0 .625rem 1.25rem rgba(165,163,174,.4); */
  display: flex;
  flex-direction: column !important;
}

@keyframes menuDropdownShow {
  0% {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
