/* BEGIN - Header */
.container--HeaderStripeText {
  margin-right: 24px;
}

.container--HeaderStripeText .link {
  /* color: #fff; */
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.headingLevel2--menuTitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: Roboto;
  color: #000;
  margin: 0;
  margin-bottom: 24px;
}

.container--menuTitle {
  margin-top: 38px;
  padding-top: 38px;
  border-top: 1px solid #dee7ef;
}

.headingLevel2--quickTitle {
  font-size: 20px;
  line-height: 28px;
  color: #000;
  font-weight: 500;
  margin: 0;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.headingLevel2--quickTitle::before {
  content: url("assets/icons/quickOrderIcon.svg");
  display: block;
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

.paragraph--quickText {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: #717786;
}

/* END - Header */
/* BEGIN - Generic */

.headingLevel3--sectionTitle,
.headingLevel3--shopByCategoryTitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}

.wrapper--alsoView,
.wrapper--sectionTitle {
  width: 100%;
}

.headingLevel3--alsoView,
.headingLevel3--sectionTitle {
  padding-bottom: 16px;
  border-bottom: 1px solid #e9eff5;
}

.headingLevel3--alsoView {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 32px;
}

/* END - Generic */
/* BEGIN - ShopByCategory */

.wrapper--shopByCategory {
  width: 100%;
  height: 100%;
}

.paragraph--shopByCategory {
  margin: 0;
  height: 100%;
}

.link--shopByCategory {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-decoration: none;
  height: 100%;
  justify-content: center;
}

.image--shopByCategory {
  display: block;
  margin-bottom: 24px;
}

.strong--shopByCategory {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
}

/* END - ShopByCategory */
/* BEGIN - QuickViewTrigger */

.container--quickviewTrigger .image {
  display: block;
  width: 20px;
}

/* END - QuickViewTrigger */
/* BEGIN - BannerThird */

.headingLevel4--bannerTitle {
  margin: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
}

.paragraph--bannerDesc {
  max-width: 388px;
  width: 100%;
  margin: 0px auto 16px;
  color: #717786;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.container--bannerTitle,
.container--bannerDesc,
.container--bannerLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph--bannerLink {
  margin: 0;
}

.link--bannerLink {
  width: 244px;
  height: 48px;
  background-color: #0067c7;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  font-family: Roboto;
  display: block;
  text-decoration: none;
}

/* END - BannerThird */
/* BEGIN - Benefits Bar */

.wrapper--benefitsItem .paragraph {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
  color: #717786;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto;
}

.wrapper--benefitsItem .image {
  object-fit: contain;
  display: block;
  margin-bottom: 24px;
  width: 34px;
  height: 26px;
}

.wrapper--benefitsItem .strong {
  font-size: 18px;
  line-height: 24px;
  font-family: Roboto;
  color: #000;
  font-weight: 500;
  display: block;
  margin: 0;
  margin-bottom: 8px;
}
/* END - Benefits Bar */
/* BEGIN - Footer */

.paragraph--footerStripe {
  font-size: 12px;
  line-height: 18px;
  color: rgba(225, 239, 255, 0.5);
  margin: 0;
  padding: 32px 0px;
}

.paragraph--footerTitle {
  margin: 0;
  color: #e1efff;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 24px;
  font-family: Roboto;
  font-weight: 500;
}

.paragraph--mailTo,
.paragraph--callTo {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-family: Roboto;
  text-decoration: none;
  margin: 0;
}

.paragraph--footerText {
  margin: 0;
  color: #e1efff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-align: left;
}

.paragraph--footerRights {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.paragraph--followTitle {
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}

/* END - Footer */
/* BEGIN - Trending Shelf */

.heading--trendingTitle {
  font-size: 24px;
  line-height: 32px;
  color: #000;
  font-family: Roboto;
  margin: 0;
}

/* END - Trending Shelf */
/* BEGIN - Popular Shelf */

.headingLevel3--popularTitle {
  font-size: 24px;
  line-height: 32px;
  color: #000;
  font-weight: 500;
  font-family: Roboto;
  margin: 0;
  margin-bottom: 16px;
}

/* END - Popular Shelf */
/* BEGIN - QuickOrder */

.headingLevel3--titleQuickorder {
  margin-left: 0.5rem;
}

/* END - QuickOrder */
/* BEGIN - Search Page */

.paragraph--SEOText {
  font-size: 14px;
  line-height: 18px;
  font-family: Roboto;
  color: #717786;
  margin: 0;
  margin-bottom: 24px;
}

.paragraph--textCategorySlider {
  font-size: 14px;
  line-height: 20px;
  color: #717786;
  margin: 0;
}

.paragraph--blogSEO {
  max-height: 400px;
  overflow: auto scroll;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #717786;
}

.heading--blogTitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: Roboto;
  margin: 0;
  margin-bottom: 8px;
  color: #000;
}

.paragraph--blogDescription {
  font-size: 14px;
  line-height: 18px;
  font-family: Roboto;
  color: #717786;
  margin: 0;
  margin-bottom: 24px;
}

/* END - Search Page */

@media (max-width: 64rem) {
  .paragraph--blogSEO {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    max-height: initial;
    margin-bottom: 40px;
  }

  .headingLevel3--blogSecondarySEO {
    font-size: 18px;
    line-height: 28px;
    color: #000;
    margin: 0;
    margin-bottom: 40px;
  }

  .wrapper--shopByCategoryTitle {
    margin: 0px auto;
  }

  .headingLevel3--sectionTitle {
    border: none;
    padding: 0;
    margin: 0;
  }

  .link--sectionLink {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: var(--fresh-blue);
    font-family: Roboto;
    display: flex;
    align-items: center;
  }

  .link--sectionLink::after {
    content: url("assets/icons/chevronRight.svg");
    display: block;
    margin-left: 8px;
    height: 21px;
  }

  .headingLevel4--bannerTitle {
    max-width: 250px;
    width: 100%;
    margin: 0px auto 12px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }

  .paragraph--bannerDesc {
    font-size: 14px;
    line-height: 20px;
  }

  .link--bannerLink {
    height: 40px;
    line-height: 40px;
  }

  .headingLevel3--titleWithBorder {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-family: Roboto;
    color: #000;
    margin: 0;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e9eff5;
    text-align: center;
  }

  .wrapper--titleWithBorder {
    width: 100%;
  }

  .paragraph--benefitsItem {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }

  .strong--benefitsItem {
    font-size: 16px;
    line-height: 24px;
  }

  .container--paymentLabel {
    justify-content: center;
  }

  .paragraph--paymentLabel {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.5);
  }

  .paragraph--footerStripe {
    text-align: center;
    padding: 0px;
    margin-bottom: 24px;
  }

  .container--copyright {
    justify-content: center;
  }

  .paragraph--copyright {
    margin: 0;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
  }

  .link--HeaderStripeText {
    white-space: nowrap;
    color: black !important;
  }
  .link--HeaderStripeText:hover .flexRowContent--HeaderStripeTextChilds {
    background-color: #6f6b7d !important;
  }

  .paragraph--HeaderStripeText,
  .container--HeaderStripeText {
    margin: 0;
  }

  .paragraph--SEOText {
    font-size: 12px;
    line-height: 16px;
  }

  .headingLevel2--quickOrderButtonTitle {
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin: 0;
    margin-bottom: 4px;
  }

  .paragraph--quickOrderButtonText {
    font-size: 14px;
    line-height: 18px;
    color: #717786;
    margin: 0;
    max-width: 240px;
  }

  .wrapper--quickOrderTitlePageMobile {
    width: 100%;
  }

  .headingLevel1--quickOrderTitlePageMobile {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    color: #000;
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: 1px solid #e9eff5;
  }
}

.paragraph--disclosure-trigger-heading {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.paragraph--skuList {
  margin: 0;
  line-height: 1.5;
}

.paragraph--modal-trigger-shipping-availability {
  cursor: pointer;
}

.paragraph--modal-trigger-shipping-availability:hover {
  text-decoration: underline;
}

/* Reset Spacing */

.container--reset-spacing,
.container--reset-spacing :not(:global(.vtex-fake)) {
  margin: 0;
  padding: 0;
}

.container--black-medium {
  color: var(--black-medium);
}

.container--fw5 {
  font-weight: 500;
}

.container--newsletter-title,
.wrapper--newsletter-title {
  width: 100%;
}

.container--newsletter-title .heading {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
  margin-right: auto;
}

@media (max-width: 64rem) {
  .container--newsletter-title .heading {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 0.75rem;
    text-align: center;
  }
}

.paragraph--form-section-title {
  margin: 0;
  margin-bottom: 0.5rem;
}

.paragraph--product-price-message,
.paragraph--product-summary-price-message {
  text-align: center;
  color: var(--black-medium);
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.paragraph--product-summary-price-message {
  font-size: 0.75rem;
  line-height: 1.5;
}

.container--product-price-message,
.container--product-summary-price-message {
  border: 1px solid var(--lines-dark);
  border-radius: 0.25rem;
  padding: 1rem;
}

.container--product-summary-price-message {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.wrapper--product-price-message,
.wrapper--product-summary-price-message {
  width: 100%;
}

.container--bsp-cta {
  margin: 0;
  position: absolute;
  top: 67%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -51%);
}
.wrapper--bsp-cta {
  /* cursor: pointer;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  transition: all .135s ease-in-out;
  transform: scale(1.001);
  letter-spacing: .43px;
  color: #fff;
    background-color: #00aeef;
    border-color: #00aeef;
    display: inline-block;
    padding: 0.6rem 1.25rem;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.125;
    color: #6f6b7d;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
    transition: all 0.2s ease-in-out; */

  /* Color & Background */
  background-attachment: scroll;
  background-color: rgb(0, 174, 239);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;

  /* Box */
  height: 48px;
  width: 155.578px;
  border: 1px solid rgb(0, 174, 239);
  border-top: 1px solid rgb(0, 174, 239);
  border-right: 1px solid rgb(0, 174, 239);
  border-bottom: 1px solid rgb(0, 174, 239);
  border-left: 1px solid rgb(0, 174, 239);
  margin: 0px;
  padding: 13.44px 26px;
  max-height: none;
  min-height: auto;
  max-width: none;
  min-width: auto;

  /* Positioning */
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  float: none;
  display: flex;
  clear: none;
  z-index: auto;

  /* List */
  list-style-image: none;
  list-style-type: disc;
  list-style-position: outside;

  /* Table */
  border-collapse: separate;
  border-spacing: 0px 0px;
  caption-side: top;
  empty-cells: show;
  table-layout: auto;

  /* Miscellaneous */
  overflow: hidden;
  cursor: pointer;
  visibility: visible;

  /* Effects */
  transform: matrix(1.001, 0, 0, 1.001, 0, 0);
  transition: 0.135s ease-in-out;
  outline: rgb(255, 255, 255) dashed 0px;
  outline-offset: 0px;
  box-sizing: border-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: break-word;
  box-shadow: rgba(165, 163, 174, 0.3) 0px 2px 4px 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
}

.link--bsp-cta {
  /* Font & Text */
  color: rgb(255, 255, 255);
  font-family: play, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  letter-spacing: 0.43px;
  line-height: 19.125px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  text-indent: 0px;
  text-transform: none;
  vertical-align: middle;
  white-space: normal;
  word-spacing: 0px;
}
.wrapper--bsp-cta:hover {
  color: #fff !important;
  background-color: #009dd7 !important;
  border-color: #009dd7 !important;
}
.container--bestSellingTitle {
  /* Font & Text */
  font-family: play, sans-serif;
  font-size: 38px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 52.06px;
  text-decoration: none solid rgb(0, 174, 239);
  text-align: center;
  text-indent: 0px;

  /* Color & Background */
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  color: rgb(0, 174, 239);

  /* Box */
  height: 52.0469px;
  width: 1368px;
  border: 0px none rgb(0, 174, 239);
  border-top: 0px none rgb(0, 174, 239);
  border-right: 0px none rgb(0, 174, 239);
  border-bottom: 0px none rgb(0, 174, 239);
  border-left: 0px none rgb(0, 174, 239);
  margin: 0px 0px 16px;
  padding: 0px;
  max-height: none;
  min-height: 0px;
  max-width: none;
  min-width: 0px;

  /* Positioning */
  position: static;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  float: none;
  display: block;
  clear: none;
  z-index: auto;

  text-shadow: rgb(13, 110, 253) 1px 1px 1px;
  text-overflow: clip;
  word-wrap: normal;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.container--bsp-heading {
  color: #00aeef;
  font-size: 1.125rem;
  font-weight: 700;
  justify-content: center;
  margin: 2px;
  height: 28px;
  top: -20px;
  position: relative;
}
.container--bsp-desc {
  justify-content: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(111, 107, 125);
  margin: 1px;
  top: -15px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.paragraph--brandHeading {
  font-family: play, sans-serif;
  font-size: 76px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px #000;
  text-transform: uppercase;
  word-spacing: 0px;
  color: #fff;
  text-shadow: 2px 2px #000;
  margin-block-end: 0;
  margin-block-start: 20px;
}

.paragraph--brandDesc {
  font-family: play, sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px #000;
  align-items: center;
  margin-block-end: 0;
  margin-block-start: 0px;
}

.container--cert-rte {
  font-size: 48px;
  line-height: 66px;
  font-weight: 700;
  color: rgb(93, 89, 108);
}
