.specificationName,
.specificationValue {
  font-size: 14px;
}

.specificationName {
  color: #717786;
}

.specificationValue {
  color: #000;
}

.specificationName--bullet-list {
  display: block;
  columns: auto 2;
  line-height: 2.5;
  width: 100%;
  white-space: pre-wrap;
}

.specificationName--specification__name {
  color: #00aeef;
}

.headingLevel3--csTitle {
  margin: 0;
  color: #5d596c;
  font-size: 22px;
  font-weight: 500;
}

.paragraph--csContent {
  padding-top: 25px;
  margin: 0;
  color: #5d596c;
  font-size: 15px;
  font-weight: 400;
}

.link--csTitle {
  text-decoration: none;
  color: #00aeef;
}

.heading--alsoView {
  color: #5d596c;
}
