service-template/node/node_modules

# admin-example ignore rules
admin-example/*.sublime-workspace
admin-example/.DS_Store
admin-example/.AppleDouble
admin-example/.LSOverride
admin-example/Icon
admin-example/._*
admin-example/.Spotlight-V100
admin-example/.Trashes
admin-example/Thumbs.db
admin-example/ehthumbs.db
admin-example/Desktop.ini
admin-example/$RECYCLE.BIN/
admin-example/node_modules/
admin-example/node/node_modules/
admin-example/react/node_modules/
admin-example/docs/_book/
admin-example/.tmp
admin-example/.idea
admin-example/npm-debug.log
admin-example/.build/
admin-example/lib
admin-example/*.orig
admin-example/package-lock.json
admin-example/yarn-error.log
admin-example/node/package-lock.json
admin-example/react/package-lock.json
